

{{#partial "content"}}

    <strong>Issue name:</strong>
    <p>{{ issue.issueName }}</p>
    <strong>Issue author:</strong>
    <p>{{ issue.issueAuthor }}</p>
    <strong>Start date:</strong>
    <p>{{ issue.startDate }}</p>
    <strong>Issue status:</strong>
    <p>{{ issue.issueStatus }}</p>
    <strong>Issue description:</strong>
    <p>{{ issue.issueDescription }}</p>
    <strong>Issue comment:</strong>
    <p>{{ issue.issueComment }}</p>
    <a href="/issues/{{issue.id}}/update"><span class="glyphicon glyphicon-pencil" title="Edit this issue"></span></a>
    <a href="/issues/{{issue.id}}/delete"><span class="glyphicon glyphicon-trash" title="DELETE this issue"></span></a>
{{/partial}}

{{> layout.hbs}}